<%= render "books/list", book: @book, user: @user %>

<h2>Books</h2>
        <table class="table">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>

          <% @books.each do |book| %>
          <div>
            <tr>
              <th>
                <%= link_to user_path(book.user.id) do %>
                <%= attachment_image_tag @user, :profile_image, fallback: "no_image.png", size: "40x40" %>
                <% end %>
                </th>
              <th><%= link_to book.title, book_path(book.id) %></th>
              <th><%= book.body %></th>
            </tr>
          </div>
          <% end %>
        </table>
        </div>
        </div>