<div class="container px-5 px-sm-0">
    <div class="row">

     <div class="col-md-3">
        <h2>User info</h2>
        <%= attachment_image_tag user, :profile_image, fallback: "no_image.png", size: "60x60" %>
        <table class="table">
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
          </tr>
          <tr>
            <th>follows</th>
            <th><%= link_to user.followings.count, user_followings_path(user.id) %></th>
          </tr>
          <tr>
            <th>followers</th>
            <th><%= link_to user.followers.count, user_followers_path(user.id) %></th>
          </tr>
        </table>
        <div class="row">
          <%= link_to ' ', edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
        </div>
        <% if user == current_user %>
        <% else %>
        </br>
          <% if current_user.following?(user) %>
            <%= link_to "フォロー外す", user_relationships_path(user.id), class: "btn btn-primary", method: :delete %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(user.id), class: "btn btn-success", method: :post %>
          <% end %>
        <% end %>

        <h2>New book</h2>
        <%= form_with model: book, local:true do |f| %>

        <label>Title</label><br/>
        <%= f.text_field :title %>
        <br/>
        <label>Opinion</label><br/>
        <%= f.text_area :body %>

        <div>
        <%=f.submit "Create Book", class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-8 offset-md-1">
